.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image/IMG_20220519_182529.jpg);
  height: 600px;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image/anhdepvietnam.jpg);
  height: 600px;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image/maria.jpg);
  height: 600px;
}
